<style media="screen">
	.navbar-static-top {
		margin-bottom: 0;
	}
</style>
<nav class="navbar navbar-default navbar-static-top header" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="/">MetaDev Foundation</a>
		</div>

		<div class="collapse navbar-collapse" id="top-menu">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://forum.metadevfoundation.org">Forums</a></li>
				<li><a href="http://blog.metadevfoundation.org">Blog</a></li>
				<li><a href="http://shop.metadevfoundation.org:3000">Shop</a></li>
			</ul>
		</div>
	</div>
</nav>
