<style>
	.center {
		position: relative;
		z-index: 100;
		max-width: 1200px;
		margin: auto;
		overflow: hidden;
	}

	.misted::before {
		display: block;
		background: rgba(255, 255, 255, 0.85);

		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: -80px;
		height: 0;
		background: transparent;
		border-left: 80px solid transparent;
		border-right: 80px solid transparent;
		border-bottom: 80px solid #aaa;
	}
	.misted {
		background: rgba(255, 255, 255, 0.85);
	}

</style>

<% include portal/src/components/header %>
<% include portal/src/design/mesh-form %>

<div class="center misted">
	<% include portal/src/components/02-sub-header %>
	<% include portal/src/components/03-paragraphs %>
	<% include portal/src/components/04-team %>
	<% include portal/src/components/05-contact-us %>
</div>
