
.thumbnail-grid {
	user-select: none
}

.thumbnail-grid figure {
	position: relative;
	margin: 5px;
	background: white;
}

.thumbnail-grid figure div {
	width: 130px;
	height: 150px;
}

.thumbnail-grid figcaption {
	position: absolute;
	color: white;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	right: 0;
	padding: 0 1em;
	font-weight: 300;
	line-height: 2em;
	font-size: 18px;
}
