<div class="container paragraphs">
	<div class="row pitch-row">
		<div class="col-lg-4 col-md-5 col-sm-5">
			<img src="http://placehold.it/200x200" class="img-responsive" alt="" />
		</div>
		<div class="col-lg-8 col-md-7 col-sm-7">
			<%- require('./p1.md') %>
		</div>
	</div>

	<div class="row pitch-row">
		<div class="col-lg-4 col-md-5 col-sm-5">
			<img src="http://placehold.it/200x200" class="img-responsive" alt="" />
		</div>
		<div class="col-lg-8 col-md-7 col-sm-7">
			<%- require('./p2.md') %>
		</div>
	</div>
	<hr class="soften">
	<div class="row pitch-row">
		<div class="col-lg-4 col-md-5 col-sm-5">
			<img src="http://placehold.it/200x200" class="img-responsive" alt="" />
		</div>
		<div class="col-lg-8 col-md-7 col-sm-7">
			<%- require('./p3.md') %>
		</div>
	</div>
</div>
